/* Global Styles */
:root {
  --main-color: #06283d;
  --second-color: #06283d85;
  --main-font-weight: 500;
  --bg-color: #dff6ff;
  --font-size-large: 22px;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-color);
  font-family: "Roboto", sans-serif;
}

/* Card Container */
.container {
  position: relative;
  width: 400px;
  height: 105px;
  padding: 28px 32px;
  border-radius: 18px;
  overflow: hidden;
  transition: 0.56s ease-in-out;
  background: linear-gradient(
    135deg,
    rgb(100, 219, 142) 30%,
    rgb(114, 72, 160) 100%
  );
}

/* Search Box */
.search-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 4px 7px 4px 12px;
  border: 0.5px solid var(--second-color);
  border-radius: 4rem;
  box-shadow: 2px 5px 11px 3px #06283d14;
  background-color: #fff;
}
.search-box input {
  width: 80%;
  padding-left: 32px;
  font-size: 24px;
  font-weight: var(--main-font-weight);
  color: var(--main-color);
  text-transform: uppercase;
}
.search-box input::placeholder {
  font-size: 20px;
  font-weight: var(--main-font-weight);
  color: var(--main-color);
  text-transform: capitalize;
}
.search-box button {
  width: 50px;
  height: 50px;
  font-size: var(--font-size-large);
  cursor: pointer;
  border-radius: 50%;
  background: var(--bg-color);
  color: var(--main-color);
  border: 0.5px solid var(--second-color);
  transition: 0.4s ease;
}
.search-box button:hover {
  color: #fff;
  background: var(--main-color);
  border-color: var(--bg-color);
}
.search-box i {
  position: absolute;
  font-size: 28px;
  color: var(--main-color);
  transition: transform 0.5s ease-out 0.2s;
}
.search-box i:hover {
  transform: translateY(-10px);
}

/* Weather Box */
.weather-box {
  text-align: center;
}
.weather-box img {
  width: 60%;
  margin-top: 20px;
}
.weather-box .temperature {
  margin-top: 20px;
  font-size: 4rem;
  font-weight: 800;
  color: var(--main-color);
}
.weather-box .temperature span {
  font-size: 1.5rem;
}
.weather-box .description {
  margin-left: 1ch;
  font-size: var(--font-size-large);
  font-weight: var(--main-font-weight);
  color: var(--main-color);
  text-transform: capitalize;
}

/* Weather Details */
.weather-details {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.weather-details .humidity,
.weather-details .wind {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 45%;
}
.weather-details .humidity i,
.weather-details .wind i {
  margin-bottom: 10px;
  font-size: 40px;
  color: var(--main-color);
}
.weather-details span {
  font-size: var(--font-size-large);
  font-weight: var(--main-font-weight);
  color: var(--main-color);
}
.weather-details p {
  font-size: 14px;
  font-weight: var(--main-font-weight);
  color: var(--main-color);
}

/* Not Found */
.not-found {
  width: 100%;
  text-align: center;
  margin-top: 50px;
  transform: scale(0);
  opacity: 0;
  display: none;
}
.not-found img {
  width: 70%;
}
.not-found p {
  margin-top: 12px;
  font-size: var(--font-size-large);
  font-weight: var(--main-font-weight);
  color: var(--main-color);
}

/* Animations */
.weather-box,
.weather-details {
  transform: scale(0);
  opacity: 0;
}

.fadeIn {
  animation: fadeIn 0.5s forwards 0.5s;
}
@keyframes fadeIn {
  to {
    transform: scale(1);
    opacity: 1;
  }
}
